h1, 
h2, 
h3, 
p {
  font-family: "Helvetica", sans-serif;
}

h1 {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*uaswg1*_gcl_aw*R0NMLjE3NDM2NDcxMzYuQ2p3S0NBand3TE9fQmhCMkVpd0F4MmUtM3l5cmYxU2tVYmdTbG1nS0g2akN6NGdDWGc4a01lNXhfM2twcFV0Sm1zOHNFajliQ3Y1WGdCb0NxUzRRQXZEX0J3RQ..*_gcl_au*NDU5NDQxODEwLjE3NDM2NDcxMzM.*_ga*NTQ1MDQ5Mjg4OS4xNzQzNjQ3MTI2*_ga_3LRZM6TM9L*MTc0Mzg4Mjg2Ni4xMS4xLjE3NDM4ODM4NzguNjAuMC4w");
    text-align: center;
    font-size: 100px;
    color: khaki;
  }

div h1{
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes{
    background-color: mediumseagreen;
}

.frames{
    background-color: lightcoral;
}

.paint{
    background-color: skyblue;
}

#starting_at_color{
    color: blue;
}
